fastapi
uvicorn
pandas
numpy
plotly
requests
google-generativeai
python-dotenv
vnstock3
requests-cache
scikit-learn
scipy
backtrader==1.9.78.123
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
email-validator
pydantic-settings
python-multipart
pyodbc
watchfiles
bcrypt==3.2.0
slowapi
sentry-sdk